body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    letter-spacing: 5px;
}

nav {
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform 0.3s, border-bottom 0.3s;
}

nav ul li a:hover {
    transform: scale(1.1);
    border-bottom: 2px solid #4CAF50;
    margin-bottom: 30px;

}

h1 {
    color: #333;
    margin-top: 80px; /* To prevent overlap with navbar */
}

p {
    color: #666;
}

.my-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.my-button:hover {
    background-color: #45a049;
}
.container img{
   height: 900px;
   width: 1550px;
}

